{% extends "template.jinja2" %}

{% block account_loop %}

{% for account in template.accounts %}

{% with account=account %}

{% block account scoped %}

{{ super() }}

<details>
<summary>{{ account.account }} (Count: {{ account.count }})</summary>
  {% block change scoped %}
  {% endblock %}
</details>

{% endblock %}

{% endwith %}

{% endfor %}

{% endblock %}