{% extends "summary.jinja2" %}
{% block action scoped %}

{% for action_summary in iambic.action_summaries %}
<details>
<summary>{{ action_summary.action }} (Count: {{ action_summary.count }})</summary>
  {% block template scoped %}
  {% endblock %}
</details>
{% endfor %}

{% endblock %}}