{% extends "accounts.jinja2" %}
{% block account scoped %}

{% for exception in account.exceptions %}
<details>
<summary>{{ exception.meta.name }} (Count: {{ exception.meta.number }})</summary>
    <table>
        <thead>
            <tr>
                <th>Template ID</th>
                <th>Resource Type</th>
                <th>Resource ID</th>
                <th>Action</th>
                <th>Proposed Change</th>
            </tr>
        </thead>
        <tbody>
            {% for template_id, template_data in exception.resources -%}
            <tr class="accordion-toggle">
                <td rowspan="{{ template_data|length }}">{{ template_id }}</td>
                <td>{{ template_data[0]['resource_type'] }}</td>
                <td>{{ template_data[0]['resource_id'] }}</td>
                <td>{{ template_data[0]['action'] }}</td>
                <td>{{ template_data[0]['proposed_change'] }}</td>
            </tr>
                {% for row in template_data[1:] -%}
            <tr class="accordion-toggle">
                <td>{{ row['resource_type'] }}</td>
                <td>{{ row['resource_id'] }}</td>
                <td>{{ row['action'] }}</td>
                <td>{{ row['proposed_change'] }}</td>
            </tr>
                {% endfor -%}
            {% endfor -%}
        </tbody>
    </table>
</details>
{% endfor %}

{% endblock %}