{% extends "accounts.jinja2" %}
{% block account %}

{{ super() }}
{% for change in account.changes %}
<details>
<summary>{{ change.resource_id }} (Count: {{ change.resource_type }})</summary>
    <table>
        <thead>
            <tr>
                <th>Resource ID</th>
                <th>Resource Type</th>
                <th>Current Value</th>
                <th>New Value</th>
                <th>Change Summary</th>
                <th>Exceptions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ change.resource_id }}</td>
                <td>{{ change.resource_type }}</td>
                <td>{{ change.current_value }}</td>
                <td>{{ change.new_value }}</td>
                <td>{{ change.change_summary }}</td>
                <td>{{ change.exceptions_seen }}</td>
            </tr>
        </tbody>
    </table>
</details>
{% endfor %}
{% endblock %}