# IAMbic Summary
## Change Detection
* {{ iambic.sum_deleted }} deleted roles.
* {{ iambic.sum_created }} created roles.
* {{ iambic.sum_updated }} updated roles.
## Exceptions
* {{ iambic.sum_exceptions }} exceptions.

# IAMbic Change Details
{% block action %}{% endblock %}

# IAMbic Exceptions
{ % block exception %}{ % endblock %}