{% extends "actions.jinja2" %}
{% block template scoped %}

{% for template in action_summary.templates %}
<details>
<summary>{{ template.template_name }} (Count: {{ template.count }})</summary>
  {% block account scoped %}
  {% endblock %}
</details>
{% endfor %}

{% endblock %}